#main-game {
    background-color: black;
    color: silver;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-canvas-container {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 600px;
    border: 1px solid silver;
}

canvas.game-canvas {
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: transparent;
}
