h1 {
    display: none;
}

#main-game {
    background-color: black;
    color: silver;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-canvas-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: min(600px, 100vw);
    aspect-ratio: 1 / 1;
    border: 1px solid silver;
    box-sizing: border-box;
}

canvas.game-canvas {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.controls {
    --control-size: min(100px, calc((100vw - 48px) / 5));
    display: flex;
    justify-content: space-evenly;
    padding: 20px 8px;
    gap: max(4px, calc(var(--control-size) * 0.05));
}

.controls .control {
    width: var(--control-size);
    height: var(--control-size);
    border: 1px solid silver;
    border-radius: calc(var(--control-size) * 0.2);
    background-image: url("../images/controls.png");
    background-repeat: no-repeat;
    background-size: calc(var(--control-size) * 3) calc(var(--control-size) * 3);
    box-sizing: border-box;
}

#left {
    background-position: 0px 0px;
}

#right {
    background-position: calc(-1 * var(--control-size)) 0px;
}

#pause {
    background-position: 0px calc(-1 * var(--control-size));
}

#fire {
    background-position: calc(-1 * var(--control-size)) calc(-1 * var(--control-size));
}

#quit {
    background-position: calc(-2 * var(--control-size)) calc(-1 * var(--control-size));
}

@media screen and (min-width: 767px) {
    .controls {
        display: none;
    }
}
