#main-game {
    background-color: black;
    color: silver;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-canvas-container {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 600px;
    border: 1px solid silver;
}

canvas.game-canvas {
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: transparent;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    gap: 5px;
}

.controls .control {
    width: 100px;
    height: 100px;
    border: 1px solid silver;
    border-radius: 20px;
    background-image: url("src/images/controls.png");
    background-repeat: no-repeat;
}

#left {
    background-position: 0px 0px;
}

#right {
    background-position: -100px 0px;
}

#pause {
    background-position: 0px -100px;
}

#fire {
    background-position: -100px -100px;
}

#quit {
    background-position: -200px -100px;
}

@media screen and (min-width: 767px) {
    .controls {
        display: none;
    }
}
